img {
  width: 200px;
}
body {
  text-align: center;
  font-family: Georgia;
  background: #ffffff;
  color: rgb(110, 150, 200);
  font-size: 15px;
}
.githubButton {
  position: fixed;
  top: 750px;
  left: 1000px;
  height: 30px;
  width: 80px;
  background-color: #ffffff;
  border: 3px solid #8080aa;
  border-radius: 8px;
  font-family: Georgia;
}

.voteButton {
  height: 30px;
  width: 150px;
  background-color: #ffffff;
  border: 4px solid #8080aa;
  border-radius: 5px;
  font-family: Georgia;
}

.voteButton:active {
  background-color: #8080aa;
}

.votingInfo {
  position: fixed;
  top: 315px;
  left: 730px;
  text-align: left;
  border: 3px solid #8080aa;
  border-radius: 8px;
  padding: 5px;
}

.barGraph {
  position: fixed;
  top: 500px;
  left: 200px;
}
