img {
  width: 200px;
}
body {
  text-align: center;
  font-family: Georgia;
  background: #ffffff;
  color: rgb(110, 150, 200);
  font-size: 15px;
}
.button {
  position: absolute;
  bottom: 50;
  left: 800px;
}
